EDP_Clinic/Connected Services/EDPService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DBService" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DBService.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateReport_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateReport" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateReportResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetReportById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetReportById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReport" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReportResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateReportById_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReportById" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateReportById_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReportByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDetailsById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailsById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDetailsById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateDetailsById_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDetailsById" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateDetailsById_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDetailsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateMedicalCondition_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMedicalCondition" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateMedicalCondition_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMedicalConditionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMedicalConditionById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMedicalConditionById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMedicalConditionById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMedicalConditionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllMedicalCondition_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMedicalCondition" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllMedicalCondition_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMedicalConditionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateMedicalConditionById_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMedicalConditionById" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateMedicalConditionById_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMedicalConditionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreatePatient_MC_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePatient_MC" />
  </wsdl:message>
  <wsdl:message name="IService1_CreatePatient_MC_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePatient_MCResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPatient_MCById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatient_MCById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPatient_MCById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatient_MCByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPatient_MC_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPatient_MC" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPatient_MC_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPatient_MCResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreatePayment_Report_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePayment_Report" />
  </wsdl:message>
  <wsdl:message name="IService1_CreatePayment_Report_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePayment_ReportResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPayment_ReportById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPayment_ReportById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPayment_ReportById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPayment_ReportByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPayment_Report_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPayment_Report" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPayment_Report_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPayment_ReportResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllUsers" message="tns:IService1_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllUsersResponse" message="tns:IService1_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateReport" message="tns:IService1_CreateReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateReportResponse" message="tns:IService1_CreateReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReportById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetReportById" message="tns:IService1_GetReportById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetReportByIdResponse" message="tns:IService1_GetReportById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllReport" message="tns:IService1_GetAllReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllReportResponse" message="tns:IService1_GetAllReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReportById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateReportById" message="tns:IService1_UpdateReportById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateReportByIdResponse" message="tns:IService1_UpdateReportById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateDetails" message="tns:IService1_CreateDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateDetailsResponse" message="tns:IService1_CreateDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetailsById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDetailsById" message="tns:IService1_GetDetailsById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDetailsByIdResponse" message="tns:IService1_GetDetailsById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllDetails" message="tns:IService1_GetAllDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllDetailsResponse" message="tns:IService1_GetAllDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDetailsById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateDetailsById" message="tns:IService1_UpdateDetailsById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateDetailsByIdResponse" message="tns:IService1_UpdateDetailsById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateMedicalCondition">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateMedicalCondition" message="tns:IService1_CreateMedicalCondition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateMedicalConditionResponse" message="tns:IService1_CreateMedicalCondition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMedicalConditionById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMedicalConditionById" message="tns:IService1_GetMedicalConditionById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMedicalConditionByIdResponse" message="tns:IService1_GetMedicalConditionById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMedicalCondition">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllMedicalCondition" message="tns:IService1_GetAllMedicalCondition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllMedicalConditionResponse" message="tns:IService1_GetAllMedicalCondition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMedicalConditionById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateMedicalConditionById" message="tns:IService1_UpdateMedicalConditionById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateMedicalConditionByIdResponse" message="tns:IService1_UpdateMedicalConditionById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePatient_MC">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreatePatient_MC" message="tns:IService1_CreatePatient_MC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreatePatient_MCResponse" message="tns:IService1_CreatePatient_MC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatient_MCById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPatient_MCById" message="tns:IService1_GetPatient_MCById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPatient_MCByIdResponse" message="tns:IService1_GetPatient_MCById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPatient_MC">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllPatient_MC" message="tns:IService1_GetAllPatient_MC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllPatient_MCResponse" message="tns:IService1_GetAllPatient_MC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePayment_Report">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreatePayment_Report" message="tns:IService1_CreatePayment_Report_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreatePayment_ReportResponse" message="tns:IService1_CreatePayment_Report_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPayment_ReportById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPayment_ReportById" message="tns:IService1_GetPayment_ReportById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPayment_ReportByIdResponse" message="tns:IService1_GetPayment_ReportById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPayment_Report">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllPayment_Report" message="tns:IService1_GetAllPayment_Report_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllPayment_ReportResponse" message="tns:IService1_GetAllPayment_Report_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReport">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetReportById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReport">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReportById">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateReportById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetailsById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDetailsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDetailsById">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateDetailsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMedicalCondition">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateMedicalCondition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMedicalConditionById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMedicalConditionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMedicalCondition">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllMedicalCondition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMedicalConditionById">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateMedicalConditionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePatient_MC">
      <soap:operation soapAction="http://tempuri.org/IService1/CreatePatient_MC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatient_MCById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPatient_MCById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPatient_MC">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllPatient_MC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePayment_Report">
      <soap:operation soapAction="http://tempuri.org/IService1/CreatePayment_Report" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPayment_ReportById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPayment_ReportById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPayment_Report">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllPayment_Report" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/DBService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>