EDP_Clinic/Connected Services/EDP_DBReference/DBService.Entity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DBService.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DBService.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDeleted" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Verified" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="displayUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Verified" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="displayUser" nillable="true" type="tns:displayUser" />
  <xs:complexType name="ArrayOfdisplayUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="displayUser" nillable="true" type="tns:displayUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdisplayUser" nillable="true" type="tns:ArrayOfdisplayUser" />
  <xs:complexType name="CardInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CVVNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardExpiry" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CardName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IV" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="StillValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="UniqueIdentifier" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardInfo" nillable="true" type="tns:CardInfo" />
  <xs:complexType name="ArrayOfCardInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CardInfo" nillable="true" type="tns:CardInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCardInfo" nillable="true" type="tns:ArrayOfCardInfo" />
</xs:schema>