EDP_Clinic/Connected Services/EDP_DBReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DBService" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DBService.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOneUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneUser" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOneUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddOneUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOneUser" />
  </wsdl:message>
  <wsdl:message name="IService1_AddOneUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOneUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditOneUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EditOneUser" />
  </wsdl:message>
  <wsdl:message name="IService1_EditOneUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditOneUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateOneUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOneUser" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateOneUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOneUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteOneUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOneUser" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteOneUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOneUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddCaretaker_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCaretaker" />
  </wsdl:message>
  <wsdl:message name="IService1_AddCaretaker_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCaretakerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveCaretaker_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCaretaker" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveCaretaker_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCaretakerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckOneUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckOneUser" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckOneUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckOneUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckPhoneNo_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPhoneNo" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckPhoneNo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPhoneNoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_VerifyOneUser_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyOneUser" />
  </wsdl:message>
  <wsdl:message name="IService1_VerifyOneUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyOneUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOneUserByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneUserByEmail" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOneUserByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneUserByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOneUserByPhoneNo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneUserByPhoneNo" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOneUserByPhoneNo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneUserByPhoneNoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPatients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPatients" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPatients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPatientsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployees" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowOneUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowOneUser" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowOneUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowOneUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllUsers" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowAllPatients_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllPatients" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowAllPatients_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllPatientsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowAllEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllEmployees" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowAllEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowSearchedEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowSearchedEmployees" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowSearchedEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowSearchedEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowSearchedPatients_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowSearchedPatients" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowSearchedPatients_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowSearchedPatientsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DisplayOnePatient_InputMessage">
    <wsdl:part name="parameters" element="tns:DisplayOnePatient" />
  </wsdl:message>
  <wsdl:message name="IService1_DisplayOnePatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisplayOnePatientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DisplayAllPatients_InputMessage">
    <wsdl:part name="parameters" element="tns:DisplayAllPatients" />
  </wsdl:message>
  <wsdl:message name="IService1_DisplayAllPatients_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisplayAllPatientsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DisplayCaretakers_InputMessage">
    <wsdl:part name="parameters" element="tns:DisplayCaretakers" />
  </wsdl:message>
  <wsdl:message name="IService1_DisplayCaretakers_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisplayCaretakersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DisplayPatientsOnly_InputMessage">
    <wsdl:part name="parameters" element="tns:DisplayPatientsOnly" />
  </wsdl:message>
  <wsdl:message name="IService1_DisplayPatientsOnly_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisplayPatientsOnlyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DisplayAllSearchedPatients_InputMessage">
    <wsdl:part name="parameters" element="tns:DisplayAllSearchedPatients" />
  </wsdl:message>
  <wsdl:message name="IService1_DisplayAllSearchedPatients_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisplayAllSearchedPatientsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmailbyCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailbyCode" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmailbyCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailbyCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckCodeExist_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckCodeExist" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckCodeExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckCodeExistResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckCodeByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckCodeByEmail" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckCodeByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckCodeByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddCode_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCode" />
  </wsdl:message>
  <wsdl:message name="IService1_AddCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateCardInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCardInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateCardInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCardInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCardByCardNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCardByCardNumber" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCardByCardNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCardByCardNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllCards_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCards" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllCards_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCardsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteByCardNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByCardNumber" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteByCardNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByCardNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckCardByCardNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckCardByCardNumber" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckCardByCardNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckCardByCardNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateReceipt_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateReceipt" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateReceipt_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateReceiptResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectAllReceipt_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllReceipt" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectAllReceipt_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllReceiptResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectByReceiptID_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByReceiptID" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectByReceiptID_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByReceiptIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllApptAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllApptAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllApptAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllApptAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllApptUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllApptUser" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllApptUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllApptUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllApptUserUpcoming_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllApptUserUpcoming" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllApptUserUpcoming_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllApptUserUpcomingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllApptUserPast_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllApptUserPast" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllApptUserPast_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllApptUserPastResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllApptUserMissed_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllApptUserMissed" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllApptUserMissed_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllApptUserMissedResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateAppointment_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAppointment" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateAppointment_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOneAppt_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneAppt" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOneAppt_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneApptResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateOneAppt_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOneAppt" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateOneAppt_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOneApptResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteOneAppt_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOneAppt" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteOneAppt_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOneApptResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOnePhoto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOnePhoto" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOnePhoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOnePhotoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckPhotoExist_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPhotoExist" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckPhotoExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPhotoExistResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddOnePhoto_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOnePhoto" />
  </wsdl:message>
  <wsdl:message name="IService1_AddOnePhoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOnePhotoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateOnePhoto_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOnePhoto" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateOnePhoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOnePhotoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOneCG_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneCG" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOneCG_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneCGResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOneUser" message="tns:IService1_GetOneUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOneUserResponse" message="tns:IService1_GetOneUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOneUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddOneUser" message="tns:IService1_AddOneUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddOneUserResponse" message="tns:IService1_AddOneUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditOneUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditOneUser" message="tns:IService1_EditOneUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditOneUserResponse" message="tns:IService1_EditOneUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOneUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateOneUser" message="tns:IService1_UpdateOneUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateOneUserResponse" message="tns:IService1_UpdateOneUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOneUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteOneUser" message="tns:IService1_DeleteOneUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteOneUserResponse" message="tns:IService1_DeleteOneUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCaretaker">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddCaretaker" message="tns:IService1_AddCaretaker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddCaretakerResponse" message="tns:IService1_AddCaretaker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCaretaker">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RemoveCaretaker" message="tns:IService1_RemoveCaretaker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RemoveCaretakerResponse" message="tns:IService1_RemoveCaretaker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckOneUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckOneUser" message="tns:IService1_CheckOneUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckOneUserResponse" message="tns:IService1_CheckOneUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPhoneNo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckPhoneNo" message="tns:IService1_CheckPhoneNo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckPhoneNoResponse" message="tns:IService1_CheckPhoneNo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyOneUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/VerifyOneUser" message="tns:IService1_VerifyOneUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/VerifyOneUserResponse" message="tns:IService1_VerifyOneUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ChangePassword" message="tns:IService1_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ChangePasswordResponse" message="tns:IService1_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneUserByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOneUserByEmail" message="tns:IService1_GetOneUserByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOneUserByEmailResponse" message="tns:IService1_GetOneUserByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneUserByPhoneNo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOneUserByPhoneNo" message="tns:IService1_GetOneUserByPhoneNo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOneUserByPhoneNoResponse" message="tns:IService1_GetOneUserByPhoneNo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllUsers" message="tns:IService1_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllUsersResponse" message="tns:IService1_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPatients">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllPatients" message="tns:IService1_GetAllPatients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllPatientsResponse" message="tns:IService1_GetAllPatients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllEmployees" message="tns:IService1_GetAllEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllEmployeesResponse" message="tns:IService1_GetAllEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowOneUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ShowOneUser" message="tns:IService1_ShowOneUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ShowOneUserResponse" message="tns:IService1_ShowOneUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ShowAllUsers" message="tns:IService1_ShowAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ShowAllUsersResponse" message="tns:IService1_ShowAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowAllPatients">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ShowAllPatients" message="tns:IService1_ShowAllPatients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ShowAllPatientsResponse" message="tns:IService1_ShowAllPatients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowAllEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ShowAllEmployees" message="tns:IService1_ShowAllEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ShowAllEmployeesResponse" message="tns:IService1_ShowAllEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowSearchedEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ShowSearchedEmployees" message="tns:IService1_ShowSearchedEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ShowSearchedEmployeesResponse" message="tns:IService1_ShowSearchedEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowSearchedPatients">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ShowSearchedPatients" message="tns:IService1_ShowSearchedPatients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ShowSearchedPatientsResponse" message="tns:IService1_ShowSearchedPatients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisplayOnePatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DisplayOnePatient" message="tns:IService1_DisplayOnePatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DisplayOnePatientResponse" message="tns:IService1_DisplayOnePatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisplayAllPatients">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DisplayAllPatients" message="tns:IService1_DisplayAllPatients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DisplayAllPatientsResponse" message="tns:IService1_DisplayAllPatients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisplayCaretakers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DisplayCaretakers" message="tns:IService1_DisplayCaretakers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DisplayCaretakersResponse" message="tns:IService1_DisplayCaretakers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisplayPatientsOnly">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DisplayPatientsOnly" message="tns:IService1_DisplayPatientsOnly_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DisplayPatientsOnlyResponse" message="tns:IService1_DisplayPatientsOnly_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisplayAllSearchedPatients">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DisplayAllSearchedPatients" message="tns:IService1_DisplayAllSearchedPatients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DisplayAllSearchedPatientsResponse" message="tns:IService1_DisplayAllSearchedPatients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmailbyCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEmailbyCode" message="tns:IService1_GetEmailbyCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEmailbyCodeResponse" message="tns:IService1_GetEmailbyCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckCodeExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckCodeExist" message="tns:IService1_CheckCodeExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckCodeExistResponse" message="tns:IService1_CheckCodeExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckCodeByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckCodeByEmail" message="tns:IService1_CheckCodeByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckCodeByEmailResponse" message="tns:IService1_CheckCodeByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddCode" message="tns:IService1_AddCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddCodeResponse" message="tns:IService1_AddCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCardInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateCardInfo" message="tns:IService1_CreateCardInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateCardInfoResponse" message="tns:IService1_CreateCardInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCardByCardNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCardByCardNumber" message="tns:IService1_GetCardByCardNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCardByCardNumberResponse" message="tns:IService1_GetCardByCardNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCards">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllCards" message="tns:IService1_GetAllCards_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllCardsResponse" message="tns:IService1_GetAllCards_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByCardNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteByCardNumber" message="tns:IService1_DeleteByCardNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteByCardNumberResponse" message="tns:IService1_DeleteByCardNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckCardByCardNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckCardByCardNumber" message="tns:IService1_CheckCardByCardNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckCardByCardNumberResponse" message="tns:IService1_CheckCardByCardNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateReceipt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateReceipt" message="tns:IService1_CreateReceipt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateReceiptResponse" message="tns:IService1_CreateReceipt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllReceipt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectAllReceipt" message="tns:IService1_SelectAllReceipt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectAllReceiptResponse" message="tns:IService1_SelectAllReceipt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByReceiptID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectByReceiptID" message="tns:IService1_SelectByReceiptID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectByReceiptIDResponse" message="tns:IService1_SelectByReceiptID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllApptAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllApptAdmin" message="tns:IService1_GetAllApptAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllApptAdminResponse" message="tns:IService1_GetAllApptAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllApptUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllApptUser" message="tns:IService1_GetAllApptUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllApptUserResponse" message="tns:IService1_GetAllApptUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllApptUserUpcoming">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllApptUserUpcoming" message="tns:IService1_GetAllApptUserUpcoming_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllApptUserUpcomingResponse" message="tns:IService1_GetAllApptUserUpcoming_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllApptUserPast">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllApptUserPast" message="tns:IService1_GetAllApptUserPast_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllApptUserPastResponse" message="tns:IService1_GetAllApptUserPast_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllApptUserMissed">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllApptUserMissed" message="tns:IService1_GetAllApptUserMissed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllApptUserMissedResponse" message="tns:IService1_GetAllApptUserMissed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAppointment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateAppointment" message="tns:IService1_CreateAppointment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateAppointmentResponse" message="tns:IService1_CreateAppointment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneAppt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOneAppt" message="tns:IService1_GetOneAppt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOneApptResponse" message="tns:IService1_GetOneAppt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOneAppt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateOneAppt" message="tns:IService1_UpdateOneAppt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateOneApptResponse" message="tns:IService1_UpdateOneAppt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOneAppt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteOneAppt" message="tns:IService1_DeleteOneAppt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteOneApptResponse" message="tns:IService1_DeleteOneAppt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOnePhoto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOnePhoto" message="tns:IService1_GetOnePhoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOnePhotoResponse" message="tns:IService1_GetOnePhoto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPhotoExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckPhotoExist" message="tns:IService1_CheckPhotoExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckPhotoExistResponse" message="tns:IService1_CheckPhotoExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOnePhoto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddOnePhoto" message="tns:IService1_AddOnePhoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddOnePhotoResponse" message="tns:IService1_AddOnePhoto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOnePhoto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateOnePhoto" message="tns:IService1_UpdateOnePhoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateOnePhotoResponse" message="tns:IService1_UpdateOnePhoto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneCG">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOneCG" message="tns:IService1_GetOneCG_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOneCGResponse" message="tns:IService1_GetOneCG_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneUser">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOneUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOneUser">
      <soap:operation soapAction="http://tempuri.org/IService1/AddOneUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditOneUser">
      <soap:operation soapAction="http://tempuri.org/IService1/EditOneUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOneUser">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateOneUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOneUser">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteOneUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCaretaker">
      <soap:operation soapAction="http://tempuri.org/IService1/AddCaretaker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCaretaker">
      <soap:operation soapAction="http://tempuri.org/IService1/RemoveCaretaker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckOneUser">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckOneUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPhoneNo">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckPhoneNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyOneUser">
      <soap:operation soapAction="http://tempuri.org/IService1/VerifyOneUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IService1/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneUserByEmail">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOneUserByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneUserByPhoneNo">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOneUserByPhoneNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPatients">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllPatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployees">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowOneUser">
      <soap:operation soapAction="http://tempuri.org/IService1/ShowOneUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowAllUsers">
      <soap:operation soapAction="http://tempuri.org/IService1/ShowAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowAllPatients">
      <soap:operation soapAction="http://tempuri.org/IService1/ShowAllPatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowAllEmployees">
      <soap:operation soapAction="http://tempuri.org/IService1/ShowAllEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowSearchedEmployees">
      <soap:operation soapAction="http://tempuri.org/IService1/ShowSearchedEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowSearchedPatients">
      <soap:operation soapAction="http://tempuri.org/IService1/ShowSearchedPatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisplayOnePatient">
      <soap:operation soapAction="http://tempuri.org/IService1/DisplayOnePatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisplayAllPatients">
      <soap:operation soapAction="http://tempuri.org/IService1/DisplayAllPatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisplayCaretakers">
      <soap:operation soapAction="http://tempuri.org/IService1/DisplayCaretakers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisplayPatientsOnly">
      <soap:operation soapAction="http://tempuri.org/IService1/DisplayPatientsOnly" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisplayAllSearchedPatients">
      <soap:operation soapAction="http://tempuri.org/IService1/DisplayAllSearchedPatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmailbyCode">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEmailbyCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCodeExist">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckCodeExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCodeByEmail">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckCodeByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCode">
      <soap:operation soapAction="http://tempuri.org/IService1/AddCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCardInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateCardInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCardByCardNumber">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCardByCardNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCards">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllCards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByCardNumber">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteByCardNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCardByCardNumber">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckCardByCardNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReceipt">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateReceipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllReceipt">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectAllReceipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByReceiptID">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectByReceiptID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllApptAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllApptAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllApptUser">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllApptUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllApptUserUpcoming">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllApptUserUpcoming" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllApptUserPast">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllApptUserPast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllApptUserMissed">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllApptUserMissed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAppointment">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneAppt">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOneAppt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOneAppt">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateOneAppt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOneAppt">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteOneAppt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOnePhoto">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOnePhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPhotoExist">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckPhotoExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOnePhoto">
      <soap:operation soapAction="http://tempuri.org/IService1/AddOnePhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOnePhoto">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateOnePhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneCG">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOneCG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/DBService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>