EDP_Clinic/Connected Services/EDP_DBReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DBService" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DBService.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOneUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneUser" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOneUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddOneUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOneUser" />
  </wsdl:message>
  <wsdl:message name="IService1_AddOneUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOneUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditOneUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EditOneUser" />
  </wsdl:message>
  <wsdl:message name="IService1_EditOneUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditOneUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteOneUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOneUser" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteOneUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOneUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckOneUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckOneUser" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckOneUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckOneUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_VerifyOneUser_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyOneUser" />
  </wsdl:message>
  <wsdl:message name="IService1_VerifyOneUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyOneUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOneUserByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneUserByEmail" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOneUserByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneUserByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPatients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPatients" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPatients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPatientsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployees" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowOneUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowOneUser" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowOneUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowOneUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllUsers" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowAllPatients_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllPatients" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowAllPatients_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllPatientsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowAllEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllEmployees" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowAllEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmailbyCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailbyCode" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmailbyCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailbyCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckCodeExist_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckCodeExist" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckCodeExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckCodeExistResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckCodeByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckCodeByEmail" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckCodeByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckCodeByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddCode_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCode" />
  </wsdl:message>
  <wsdl:message name="IService1_AddCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateCardInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCardInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateCardInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCardInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCardByCardNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCardByCardNumber" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCardByCardNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCardByCardNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllCards_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCards" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllCards_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCardsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteByCardNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByCardNumber" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteByCardNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByCardNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateByCardNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateByCardNumber" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateByCardNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateByCardNumberResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOneUser" message="tns:IService1_GetOneUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOneUserResponse" message="tns:IService1_GetOneUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOneUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddOneUser" message="tns:IService1_AddOneUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddOneUserResponse" message="tns:IService1_AddOneUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditOneUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditOneUser" message="tns:IService1_EditOneUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditOneUserResponse" message="tns:IService1_EditOneUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOneUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteOneUser" message="tns:IService1_DeleteOneUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteOneUserResponse" message="tns:IService1_DeleteOneUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckOneUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckOneUser" message="tns:IService1_CheckOneUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckOneUserResponse" message="tns:IService1_CheckOneUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyOneUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/VerifyOneUser" message="tns:IService1_VerifyOneUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/VerifyOneUserResponse" message="tns:IService1_VerifyOneUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ChangePassword" message="tns:IService1_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ChangePasswordResponse" message="tns:IService1_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneUserByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOneUserByEmail" message="tns:IService1_GetOneUserByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOneUserByEmailResponse" message="tns:IService1_GetOneUserByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllUsers" message="tns:IService1_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllUsersResponse" message="tns:IService1_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPatients">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllPatients" message="tns:IService1_GetAllPatients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllPatientsResponse" message="tns:IService1_GetAllPatients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllEmployees" message="tns:IService1_GetAllEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllEmployeesResponse" message="tns:IService1_GetAllEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowOneUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ShowOneUser" message="tns:IService1_ShowOneUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ShowOneUserResponse" message="tns:IService1_ShowOneUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ShowAllUsers" message="tns:IService1_ShowAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ShowAllUsersResponse" message="tns:IService1_ShowAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowAllPatients">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ShowAllPatients" message="tns:IService1_ShowAllPatients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ShowAllPatientsResponse" message="tns:IService1_ShowAllPatients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowAllEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ShowAllEmployees" message="tns:IService1_ShowAllEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ShowAllEmployeesResponse" message="tns:IService1_ShowAllEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmailbyCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEmailbyCode" message="tns:IService1_GetEmailbyCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEmailbyCodeResponse" message="tns:IService1_GetEmailbyCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckCodeExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckCodeExist" message="tns:IService1_CheckCodeExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckCodeExistResponse" message="tns:IService1_CheckCodeExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckCodeByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckCodeByEmail" message="tns:IService1_CheckCodeByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckCodeByEmailResponse" message="tns:IService1_CheckCodeByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddCode" message="tns:IService1_AddCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddCodeResponse" message="tns:IService1_AddCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCardInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateCardInfo" message="tns:IService1_CreateCardInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateCardInfoResponse" message="tns:IService1_CreateCardInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCardByCardNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCardByCardNumber" message="tns:IService1_GetCardByCardNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCardByCardNumberResponse" message="tns:IService1_GetCardByCardNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCards">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllCards" message="tns:IService1_GetAllCards_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllCardsResponse" message="tns:IService1_GetAllCards_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByCardNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteByCardNumber" message="tns:IService1_DeleteByCardNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteByCardNumberResponse" message="tns:IService1_DeleteByCardNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateByCardNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateByCardNumber" message="tns:IService1_UpdateByCardNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateByCardNumberResponse" message="tns:IService1_UpdateByCardNumber_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneUser">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOneUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOneUser">
      <soap:operation soapAction="http://tempuri.org/IService1/AddOneUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditOneUser">
      <soap:operation soapAction="http://tempuri.org/IService1/EditOneUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOneUser">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteOneUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckOneUser">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckOneUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyOneUser">
      <soap:operation soapAction="http://tempuri.org/IService1/VerifyOneUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IService1/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneUserByEmail">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOneUserByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPatients">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllPatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployees">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowOneUser">
      <soap:operation soapAction="http://tempuri.org/IService1/ShowOneUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowAllUsers">
      <soap:operation soapAction="http://tempuri.org/IService1/ShowAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowAllPatients">
      <soap:operation soapAction="http://tempuri.org/IService1/ShowAllPatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowAllEmployees">
      <soap:operation soapAction="http://tempuri.org/IService1/ShowAllEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmailbyCode">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEmailbyCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCodeExist">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckCodeExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCodeByEmail">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckCodeByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCode">
      <soap:operation soapAction="http://tempuri.org/IService1/AddCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCardInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateCardInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCardByCardNumber">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCardByCardNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCards">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllCards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByCardNumber">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteByCardNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateByCardNumber">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateByCardNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/DBService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>